<!DOCTYPE html>
<html>
  <head>
    <title>JunIBIS|CartoDB.js- Dynamic map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
    <!--link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" /-->
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/themes/css/cartodb.css" />
	  </head>
		<body>

    <div id="map"></div>

    <script src="/assets/ga.js"></script>
    <!-- include cartodb.js library -->
    <!-- script src="http://libs.cartocdn.com/cartodb.js/v3/3.12/cartodb.js"></script -->
    <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/cartodb.js"></script>
    <script>
      function main() {
var CARTO_BASE = [
'Map {',
'-torque-frame-count: 168;',
'-torque-animation-duration: 84;',
'-torque-time-attribute: "datetime";',
'-torque-aggregation-function: "CDB_Math_Mode(icon)";',
'-torque-resolution: 2;',
'-torque-data-aggregation: linear;',
'}',
'#cobmoves23 {',
'  comp-op: source-over;',
'  marker-fill-opacity: 0.9;',
'  marker-line-color: #FFF;',
'  marker-line-width: 1.5;',
'  marker-line-opacity: 1;',
'  marker-type: rectangle;',
'  marker-width: 16;',
'  marker-fill: #000000;',
'}'
].join('\n');

var CARTO_F = [
'#cobmoves23 [value=11] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121854FArt.png);}',
'#cobmoves23 [value=12] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121910FCav.png);}',
'#cobmoves23 [value=13] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121917FE-M.png);}',
// '#cobmoves23 [value=14] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121847FGen.png);}',
'#cobmoves23 [value=15] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121903FInf.png);}',
'#cobmoves23 [value=16] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150430143225GArt.png);}',
'#cobmoves23 [value=17] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150430143241GCav.png);}',
'#cobmoves23 [value=18] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150430143254GE-M.png);}',
'#cobmoves23 [value=19] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150430143306GGen.png);}',
'#cobmoves23 [value=20] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150430143319GInf.png);}'
].join('\n');
var CARTO_P = [
'#cobmoves23 [value=26] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121811PArt.png);}',
'#cobmoves23 [value=27] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121830PCav.png);}',
'#cobmoves23 [value=28] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121838PE-M.png);}',
'#cobmoves23 [value=29] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121803PGen.png);}',
'#cobmoves23 [value=30] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121821PInf.png);}'
].join('\n');
var CARTO_B = [
'#cobmoves23 [value=1] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121624BArt.png);}',
'#cobmoves23 [value=2] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121638BCav.png);}',
'#cobmoves23 [value=3] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121705BE-M.png);}',
'#cobmoves23 [value=4] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121613BGen.png);}',
'#cobmoves23 [value=5] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121652BInf.png);}'
].join('\n');
var CARTO_H = [
'#cobmoves23 [value=21] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121548HArt.png);}',
'#cobmoves23 [value=22] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121534HCav.png);}',
'#cobmoves23 [value=23] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121515HE-M.png);}',
'#cobmoves23 [value=24] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121601HGen.png);}',
'#cobmoves23 [value=25] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121525HInf.png);}'
].join('\n');
var CARTO_N = [
'#cobmoves23 [value=6] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121746DArt.png);}',
'#cobmoves23 [value=7] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121727DCav.png);}',
'#cobmoves23 [value=8] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121717DE-M.png);}',
'#cobmoves23 [value=9] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121754DGen.png);}',
'#cobmoves23 [value=10] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121735DInf.png);}'
].join('\n');
var CARTO_R = [
'#cobmoves23 [value=31] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121438RArt.png);}',
'#cobmoves23 [value=32] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121456RCav.png);}',
'#cobmoves23 [value=33] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121504RE-M.png);}',
'#cobmoves23 [value=34] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121427RGen.png);}',
'#cobmoves23 [value=35] { marker-file: url(https://s3.amazonaws.com/com.cartodb.users-assets.production/production/andrejjh/assets/20150417121448RInf.png);}'
].join('\n');

        var layerB, layerF, layerH, layerN, layerP, layerR;
        var map = new L.Map('map', {
          zoomControl: true,
          fullScreen: true,
          layerSelector: true,
          center: [50.5 , 4.5],
          zoom: 10
        });

//        var baseLayer= new L.tileLayer.wms('http://webgisdgo4.spw.wallonie.be/ArcGIS/services/DGO4/FERRARIS/MapServer/WMSServer/', {
//          layers: '1',
      var baseLayer = new L.tileLayer('http://tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
        layers: '1',
          attribution: '<a href="http://www.junibis.be">JunIBIS</a>(Heughebaert/Iven), Stamen'
        });
      baseLayer.addTo(map);

      cartodb.createLayer(map,{
        type: 'torque',
        order: 1, // Optional
         options: {
           query: "Select * from cobmoves23 where army=6", 	// Required if table_name is not given
//           table_name: "cobmoves23", 	// Required if query is not given
           user_name: "andrejjh", // Required
           cartocss: CARTO_BASE + "\n" + CARTO_N // Required
         }
      }, { https: true}).addTo(map)
      .done(function(layer) {
        layerN=layer;

        layer.on('pause', function() {
         layerB.pause();
         layerF.pause();
         layerH.pause();
         layerP.pause();
         layerR.pause();
         });

         layer.on('play', function() {
         layerB.play();
         layerF.play();
         layerH.play();
         layerP.play();
         layerR.play();
         });

         layer.on('change:time', function(t) {
             // do something with step
//             console.log("Current time is " + t);
              var step=layer.getStep();
             layerB.setStep(step);
             layerF.setStep(step);
             layerH.setStep(step);
             layerP.setStep(step);
             layerR.setStep(step);
         });


        });


        cartodb.createLayer(map,{
          type: 'torque',
          order: 2, // Optional
           options: {
             query: "Select * from cobmoves23 where army=5", 	// Required if table_name is not given
  //           table_name: "cobmoves23", 	// Required if query is not given
             user_name: "andrejjh", // Required
             cartocss: CARTO_BASE + "\n" + CARTO_R // Required
           }
        }, { https: true}).addTo(map)
        .done(function(layer) {
          layerR=layer;
        });


        cartodb.createLayer(map,{
          type: 'torque',
          order: 3, // Optional
           options: {
             query: "Select * from cobmoves23 where army=4", 	// Required if table_name is not given
  //           table_name: "cobmoves23", 	// Required if query is not given
             user_name: "andrejjh", // Required
             cartocss: CARTO_BASE + "\n" + CARTO_H // Required
           }
        }, { https: true}).addTo(map).
        done(function(layer) {
          layerH=layer;
          layerH.addTo(map);
        });


      cartodb.createLayer(map,{
        type: 'torque',
        order: 4, // Optional
         options: {
           query: "Select * from cobmoves23 where army=3", 	// Required if table_name is not given
//           table_name: "cobmoves23", 	// Required if query is not given
           user_name: "andrejjh", // Required
           cartocss: CARTO_BASE + "\n" + CARTO_B // Required
         }
      }, { https: true}).addTo(map)
      .done(function(layer) {
        layerB=layer;
      });

      cartodb.createLayer(map,{
        type: 'torque',
        order: 5, // Optional
         options: {
           query: "Select * from cobmoves23 where army=2", 	// Required if table_name is not given
//           table_name: "cobmoves23", 	// Required if query is not given
           user_name: "andrejjh", // Required
           cartocss: CARTO_BASE + "\n" + CARTO_P // Required
         }
      }, { https: true}).addTo(map)
      .done(function(layer) {
        layerP=layer;
      });

      cartodb.createLayer(map,{
        type: 'torque',
        order: 6, // Optional
         options: {
           query: "Select * from cobmoves23 where army=1", 	// Required if table_name is not given
//           table_name: "cobmoves23", 	// Required if query is not given
           user_name: "andrejjh", // Required
           cartocss: CARTO_BASE + "\n" + CARTO_F // Required
         }
      }, { https: true}).addTo(map)
      .done(function(layer) {
        layerF=layer;
      });     }

     // see http://academy.cartodb.com/courses/03-cartodbjs-ground-up/lesson-4.html
      // you could use $(window).load(main);
      window.onload = main;
    </script>
</body>
</html>
