<!DOCTYPE html>
<html>
  <head>
    <title>JunIBIS|CartoDB.js- Places map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" />
	  </head>
		<body>
			<iframe width='100%' height='520' frameborder='0' src='https://andrejjh.cartodb.com/viz/3deffed6-dea6-11e4-a594-0e853d047bba/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
	</body>
</html>
