<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />  
    <title>JunIBIS|W.B.Craan notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicon.png">
    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
    <!--link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" /-->
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/themes/css/cartodb.css" />
  </head>
  <body>

    <div id="map"></div>

    <script src="/assets/ga.js"></script>
    <!-- include cartodb.js library -->
    <!-- script src="http://libs.cartocdn.com/cartodb.js/v3/3.12/cartodb.js"></script -->
    <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/cartodb.js"></script>
    <script>

function main() {
   var map;

	var baseLayer, layer1, layer2;
	map = new L.Map('map', {
	 zoomControl: true,
	 fullScreen: true,
	 center: [50.675 , 4.41],
	 zoom: 13
 	});
    // Style URL format in XYZ PNG format; see our documentation for more options
    baseLayer = new L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}{r}.png', {
        maxZoom: 20,
		layers: '1',
		attribution: '<a href="http://www.junibis.be" target="_blank">JunIBIS</a>(Heughebaert/Iven), Craan'
//                attribution: '&copy; <a href="https://stadiamaps.com/" target="_blank">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/about" target="_blank">OpenStreetMap</a> contributors',
    })
    baseLayer.addTo(map);


//	baseLayer = new L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
//		layers: '1',
//			attribution: '<a href="http://www.junibis.be">JunIBIS</a>(Heughebaert/Iven), Craan'
//		});
//	baseLayer.addTo(map);

//	imageurl ='zooms/Craan_Raster.tif';
//	imageurl ='zooms/Craan1816map/';
//	imageBounds =[[50.64744,4.35360],[50.70933,4.47070]];
//	layer2 = new L.ImageOverlay(imageurl, imageBounds,
//		{ opacity: 0.6}	);

//	layer2 = L.tileLayer.zoomify(imageurl, {
//				width: 4521,
//				height: 3752,
//				tolerance: 0.8,
//				bounds: imageBounds,
//				attribution: '<a href="http://www.junibis.be">JunIBIS</a>(Heughebaert/Iven), W.B. Craan'
//		});

  layer1=cartodb.createLayer(map,
	'https://andrejjh.cartodb.com/api/v2/viz/bd0b5552-3604-11e5-a4e2-0e9d821ea90d/viz.json',
          { https: true}).addTo(map);


 }

 // you could use $(window).load(main);
 window.onload = main;
</script>
</body>
</html>
