<!DOCTYPE html>
<html>
  <head>
    <title>JunIBIS|CartoDB.js- Manoeuver map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicon.png">
    <style type="text/css">
      html, body, #map {
 		width: 100%;
 		height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
    <!--link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" /-->
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/themes/css/cartodb.css" />
	  </head>
		<body>

    <div id="map"></div>

    <script src="/assets/ga.js"></script>
    <!-- include cartodb.js library -->
    <!-- script src="http://libs.cartocdn.com/cartodb.js/v3/3.12/cartodb.js"></script -->
    <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/cartodb.js"></script>

    <script>

function main() {
  var map = L.map('map').setView([50.5 , 4.5], 9);

	var baseLayer, layer1;

	baseLayer = new L.tileLayer('https://tiles-eu.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png', {
		layers: '1',
			attribution: '<a href="http://www.junibis.be">JunIBIS</a>(Heughebaert/Iven), <a href="https://stadiamaps.com/" target="_blank">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/about" target="_blank">OpenStreetMap</a> contributors',
		});
	baseLayer.addTo(map);

  layer1=cartodb.createLayer(map,
  'https://andrejjh.cartodb.com/api/v2/viz/f0c05d64-517c-11e5-bc36-0e853d047bba/viz.json',
          { https: true}).addTo(map);


 }

 // you could use $(window).load(main);
 window.onload = main;
</script>
</body>
</html>
