<!DOCTYPE html>
<html>
  <head>
    <title>JunIBIS|CartoDB.js- Place map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicon.png">
    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
    <!--link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" /-->
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/themes/css/cartodb.css" />
	  </head>
		<body>

    <div id="map"></div>

    <script src="/assets/ga.js"></script>
    <!-- include cartodb.js library -->
    <!-- script src="http://libs.cartocdn.com/cartodb.js/v3/3.12/cartodb.js"></script -->
    <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/cartodb.js"></script>
    <script>
function main() {
   var map = new L.Map('map', {
     zoomControl: true,
     fullScreen: true,
     layerSelector: true,
     center: [50.4 , 4.5],
     zoom: 10
   });

   var baseLayer= new L.tileLayer.wms('http://geoservices.wallonie.be/arcgis/services/CARTES_ANCIENNES/FERRARIS/MapServer/WMSServer/', {
 		layers: '0',
     attribution: '<a href="http://www.junibis.be">JunIBIS</a>(Heughebaert/Iven), Ferraris'
 }).addTo(map);

   cartodb.createLayer(map,
//16   'https://andrejjh.cartodb.com/api/v2/viz/cc16d214-f681-11e4-9e1e-0e9d821ea90d/viz.json',
//17   'https://andrejjh.cartodb.com/api/v2/viz/2f742810-fccd-11e4-a589-0e9d821ea90d/viz.json',
//18   'https://andrejjh.cartodb.com/api/v2/viz/4eeea05a-0171-11e5-9d1a-0e9d821ea90d/viz.json',
//20    'https://andrejjh.cartodb.com/api/v2/viz/4dd84852-0445-11e5-a1f1-0e853d047bba/viz.json',
//22    'https://andrejjh.cartodb.com/api/v2_1/viz/fc64619a-0db3-11e5-9406-0e018d66dc29/viz.json',
//24      'https://andrejjh.cartodb.com/api/v2_1/viz/dc0adb08-141c-11e5-bb30-0e0c41326911/viz.json',
    'https://andrejjh.cartodb.com/api/v2/viz/00222d8e-3461-11e5-a3b4-0e0c41326911/viz.json',
          { https: true})
   .addTo(map)
    .on('done', function(layer) {

     layer.setInteraction(true);

     layer.on('featureOver', function(e, latlng, pos, data) {
       cartodb.log.log(e, latlng, pos, data);
     });

     layer.on('error', function(err) {
       cartodb.log.log('error: ' + err);
     });
   }).on('error', function() {
     cartodb.log.log("some error occurred");
   });
 }

 // you could use $(window).load(main);
 window.onload = main;
</script>
</body>
</html>
