
<div id="photo"></div>
<div id="name">
  <h3><span class="label label-primary"><%= @zoom.name %></span></h3>
</div>
<script type="text/javascript">

		var map = L.map('photo').setView(new L.LatLng(0,0), 0);
		var imageurl='<%=asset_url (@zoom.url)%>';
		console.log (imageurl);

		L.tileLayer.zoomify(imageurl, {
				width: <%= @zoom.width %>,
				height: <%= @zoom.height %>,
				tolerance: 0.8,
				attribution: '<a href="http://www.junibis.be">JunIBIS</a>(Heughebaert/Iven), W.B. Craan'
		}).addTo(map);

</script>
