<h3>A propos</h3>
<div class="well">
<p><b>JunIBIS</b> est un site dédié à la cartographie de la Campagne de Belgique en Juin 1815.</p>
<p>Féru d'histoire napoléonienne, plus particulièrement passionné des batailles de l'Empire, et versé dans le domaine de la cartographie numérique, j'ai eu envie de créer des cartes interactives retraçant la Campagne de Belgique en 1815. Afin de m'aider dans cette tâche, j'ai rapidement reçu l'aide d'un ami de longue date dont les connaissances livresques complètent judicieusement mes compétences informatiques. L'abondante littérature sur le sujet nous a permis de compiler les déplacements troupes durant le premier jour de la campagne, le 15 juin 1815.</p>
<p>Les trois principes fondateurs de notre projet sont:l'<b>ouverture des données</b>, la <b>gratuité</b>, et la <b>référence aux <%=link_to 'sources', sources_path%></b>.<br>
Nos cartes sont d'ailleurs accessibles sous licence CC BY 3.0 qui autorise quiconque «à copier, distribuer et communiquer le matériel par tous moyens et sous tous formats, à remixer, transformer et créer à partir du matériel moyennant l'attribution c-à-d de créditer les auteurs et indiquer les éventuels changements».</p>
</p>
<p>Si vous voulez en savoir plus, visitez le <%= link_to 'blog du projet', 'http://scriptogr.am/andrejjh'%></p>
</div>
