<h3><%= t('menu.contact')%></h3>

<div class="well">
<p>Wenn Sie anmerkungen oder fragen zu dieser website haben ... schreiben Sie mir einfach eine <%= link_to 'email', 'mailto:andrejjh+junibis@gmail.com' %></p>
</div>
