<h3>Contact</h3>

<div class="well">
<p>Vous avez des commentaires ou des questions sur ce site...<br>
N'hésitez pas à nous contacter par <%= link_to 'courriel', 'mailto:andrejjh@gmail.com' %></p>
</div>
