
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JunIBIS</title>
    <meta name="description" content="Campaign of Belgium, June 1815, Napoleonic wars.">
    <meta name="author" content="Andre Heughebaert">
    <link rel="icon" href="/favicon.ico">
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href="/css/leaflet.css" media="screen" rel="stylesheet">
  <!---
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <style type="text/css">
        html, body, #photo {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #name {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
    </style>
</head>
  <body>
  <script src="/assets/ga.js"></script>
  <script src="/javascripts/leaflet.js"></script>
 <!---
 <script src="https://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
  --->
  <script src="/javascripts/L.TileLayer.Zoomify.js"></script>
  <%= javascript_include_tag "application" %>

 <%= yield%>


  </body>

</html>
